.div-name{
    width: 100%;
    text-align: center;
    background-color: #21324c !important;
}
.div-name h2{
    color: #fff;
}
.w3-text-teal{
    color: #21324c!important;
}
.information-tournament {
    color: #21324c;
    font-size: 1.2rem;
}
.information-tournament i{
    margin-right: 8px;
}
.btn-in-tournament{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
}
.btn-in-tournament button{
    border-radius: 0;
    background-color: #21324c;
    border: none;
    font-size: 1.3rem;
}