body{
    background-color: #21324c!important;
}
.title{
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 900;
    font-family: emoji;
}
.ranking-player{
    padding: 30px 0;
    width: 80%;
    margin: auto;
    background-color: #21324c;
}
.player{
    margin-top: 15px;
    position: relative;
    font-weight: 700;
    padding: 0 10px;
    display: flex;
    align-items: center;
    color: #21324c;
    border-radius: 15px;
    background-color: #e8e8e8;
}
.number-ranking h1{
    font-size: 2.5rem;
    font-weight: 900;
}
.img-player img{
    width: 6.5rem;
}
.information{
    position: absolute;
    right: 15px;
    width: 50%;
}
.information .name{
    font-size: 1rem;
    font-weight: 900;
}
.information .money{
    font-size: 0.9rem;
    color: red;
}
.player_2{
    display: flex;
    color: #fff;
    padding: 8px 10px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #fff;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
.information_2{
    margin-left: 2rem;
}
.number-ranking_2 h3{
    color: red;
    font-size: 1.5rem;
    font-weight: 600;
}
.information_2  .name_2{
    font-size: 1.1rem;
        font-weight: 900;
}
.information_2 .money_2
{
    color: red;
    font-size: 1rem;
    font-weight: 600;
}
.btn-player{
    width: 100%;
    border: none;
    border-radius: 7px;
    background-color: #e8e8e8;
}