.btn-tournament{
    margin-top: 1rem;
}
.information-tournament ul{
    padding: 0 5px;
    list-style-type: none;
    text-align: left;
    font-size: 0.7rem;
    color: red;
}
.information-tournament .title-tournament{
    color: #21324c !important;
}
.tournament{
    margin: 0!important;
}
.ranking-player button{
    width: 100%;
    border: none;
    border-radius: 7px;
    background-color: #e8e8e8;
}
.ranking-player form{
    margin-top: 1rem;
}